<link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet" type="text/css"/> 
    <div class="table100 ver1 m-b-110" >
        <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="column1">Student Name</th>
                            <th class="column2">ClassName</th>
                            <th class="column3">Grade</th>
                            <th class="column4">Edit</th>
                            <th class="column5">Delete</th>
                        </tr>
                    </thead>
                </table>
        </div>
        <div class="table100-body js-pscroll">
            <table  class="table table-bordered">
                <tbody>
                {% for i in u %}
                    <tr class="row100 body">
                        <td class="column1">{{ i.sname }}</td>
                        <td class="column2">{{ i.cname }}</td>
                        <td class="column3">{{ i.grade }}</td>
                        <td class="column4">
                            <a href="{{url_for('editStudent', sname = i.sname, cname = i.cname)}}">
                                Edit
                            </a>
                    </td>
                        <td class="column5">
                            <a  href="{{url_for('deleteStudent', sname = i.sname, cname = i.cname)}}">
                            Delete
                        </a>
                    </td> 
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a  href="{{url_for('newStudent', course_name = classes)}}">
            <button class="detail">Add New Student</button>
        </a>
        <a  href="{{url_for('showCourseList')}}">
            <button  class="detail"> Return to CourseList</button>
        </a>
    </div>