<html>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet" type="text/css"/> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<body >
   <h1>Courses List</h1>
   <a href="{{url_for('newCourse')}}">
       <button>Add Course</button>
    </a>
    <!--need to modify-->
   <ul>
       {% for class in courses %}
       <li> 
            <a href="{{url_for('showCourseDetail', course_name = class.cname)}}">
                    {{class.cname}}
            </a>
            <br> <br>
        </li>
       {% endfor %}
   </ul>
</body>
</html>