<html>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet" type="text/css"/> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<body >
   <h1>Courses List</h1>
   <a href="{{url_for('newCourse')}}">
       <button>Add Course</button>
    </a>
    <!--need to modify-->
    <br><br>
    <table>
        {% for class in courses %}
        <tr>
            <td><a href="{{url_for('showCourseDetail', course_name = class.cname)}}">
                {{class.code}}:  {{class.cname}}</a>
                <br><br>
            </td>
        </tr>
        {% endfor %}
    </table>
   
</body>
</html>