<link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css"/> 
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<body>
    <div class="main">
        <p class="sign" align="center">Delete a student</p>
            <form class="form_edits" action = "{{url_for('deleteStudent', sname = student.sname, cname = cname)}}" method="POST">
              <input class="un " type="text" align="center" readonly="readonly" value="{{student.sname}}">
              <input class="un" type="text" align="center" readonly="readonly" value="{{student.snumber}}">
              <input class="un" type="text" align="center" readonly="readonly" value="{{student.smail}}">
              <input class="un" type="text" align="center" readonly="readonly" value="{{grades.grade}}">
              <button class="modi" value="delete" name ="buttons">Delete</button>
              <button class="modi" name ="buttons" value="cancel">Cancel</button>
                
            </form>
    </div>
</body>