<link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css"/> 
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<body>
    <div class="main">
        <p class="sign" align="center">Add a new student</p>
            <form class="form_adds" method="POST">
              <input class="un " type="text" align="center" name = "sname" placeholder="Student Name">
              <input class="un" type="text" align="center" name = "sid" placeholder="Student ID">
              <input class="un" type="text" align="center" name = "semail" placeholder="Student Email">
              <input class="un" type="text" align="center" name = "sgrade" placeholder="Grade">
              <button type="submit">ADD</button>
              <!--<a href="{{url_for('showBooks')}}">
                   <button>Cancel</button>
               </a>-->
            </form>
    </div>
</body>